<%- include(`partials/header`) %>
    <a href="/feeds/search/tags"> search post by tag</a>
    <br>
    <br>
    <a href="/users/logout">LOGOUT</a>
    <div id="formFeed">
        <form action="/feeds" method="POST">

            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">title</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="title" name="title">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">content</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="content"
                    name="content"></textarea>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>

    <% data.forEach(element=> { %>
        <div class="box">
            <h4>
                <%= element.displayName() %>
            </h4>
            <% element.Feeds.forEach(e=> { %>
                <div>

                    <p class="para">
                        <%= e.title %>
                    </p>
                    <p>
                        <%= e.content %>
                    </p>
                </div>

                <% }); %>
        </div>
        <% }); %>



            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
                crossorigin="anonymous"></script>
            <%- include(`partials/footer`) %>